body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
    
    

}



.header{
    text-align: center;
    margin: auto;
    background-color: #9c9797;
    

}





.header_logo{
    width: 5em;
    height: auto;
    object-fit: cover;
    
}
#hamburguer{
    background-color: #777774;
    color: white;
    display: block;
    text-align: center;
    padding: .3em;
    cursor: pointer;
    font-size: 2em;
}

.header_nav{
    
    display: none;
}

.header_nav.show{
    display: block;
}

ul{
    margin: 0;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1em;
}

.header_nav a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover{
    background-color: #b3c366;
}


@media screen and (min-width: 48em) {
    #hamburguer{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1e1919;
        
    }

    .header_logo{
        margin-left: 2em;

    }
    .header_nav{
        display: block;
    }
    .header_nav ul{
        margin-right: 2em;
        font-size: .8em;
    }
    .header_nav li{
        display: inline-block;
        
    }

    .header_nav a{
        border-radius: 5px;
        color: white;
        

    }
    .header_nav a:hover{
        background-color: #ecec10;
        color: #3a3737;
        
    }
    button{
        display: none;

    }
   
}

@media screen and (max-width: 48em){
    .alternativo{
        display: none;
    }

    body{
        background-color: #191918;
    }

   .icones{
    display: block;
   }
   
   div{
    display: none;
   }
}

    


.altura{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  
}



.play{
    position: absolute;
    z-index: 2;
    padding: 2em
}

.alternativo{
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 1;
    
   

    
    
    
    

    
}

div{
    position: absolute;
    background-color: rgba(206, 206, 197, 0.5);
    border: .1em solid #020249;
    border-radius: 5px;
    padding: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label{
    padding: 1em ;
    text-transform: uppercase;
    color: #0c0c0c;
    letter-spacing: .1em;
    
    
}






footer{
    text-align: center;
    text-transform: uppercase;
    background-color: #d7f059;
    padding: .8em ;
    margin: auto;
    
    

   

    
}

.icones{
    width: 2em;
    margin: auto;
    padding: .2em;
    
    
}



